*{
    margin: 0%;
    padding: 0%;
}
/* gogole font */
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

.header-section{
    /* /* width: 1320; */
    height: 600px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 50px;
    margin: 30px;
    padding: 10px;
    background-image: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* main section start */
.all-categories{
    width: 802;
    height: 780;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
.all-categories > h1{
    color: red;
    padding: 10px;
    font-size: 40px;
    
}
.all-categories > p{
    color: red;
    padding: 5px;
    
    
}
.all-categories > h3{
    
    padding: 5px;
    margin: 10px;
    font-size: 30px;
}

/* midnight party */
.join-containar{
    display: flex;
    height: 600px;
    justify-content: space-around;
    background-image: url("/images/Vectorrr.png");
    background-repeat: no-repeat;
    color: white;
    margin: 30px;
    padding: 30px;
    align-items: center;
   
}

.Welcoming-{
    font-size: 110px;
}
.join-btn{
    margin: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    font-weight: 800;
    
}

/* .place {
    
    text-align: center;
    align-items: center;
    padding-top: 100px;
    background-color:#FF0000;
    height: 300px;
    margin: 20px;

} */
.place-container {
    
    text-align: center;
    align-items: center;
    padding-top: 100px;
    background-color:lemonchiffon;
    height: 300px;
    margin: 20px;
    font-size: 30px;

}
.time-{
    color: #FF0000;
}
.join-now{
    background-color: #FF0000;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.coming-soon{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    
    
}

.best-offer{
    margin-top: 90px;
    padding: 20px;
    
    align-items: center;
}
.best-offer > h1{
    font-size: 30px;
    
    padding-top: 10px;
}
.new-year-styel{
    margin-top: 90px;
    padding: 20px;
    
    align-items: center;
}
.box{
    width: 500px;
    height: 400px;
}
.box >h2{
    color: red;
    padding: 10px;
    font-size: 35px;  
    
}
.box> h6{
    color: #FF0000;
    font-size: 15px;
    padding: 10px;
}
.Ellipse-img{
    padding: 15px 0 0 25px;
    border: 10px solid red;
    border-radius: 50%;
}

/* portfolio related */
.best-gifts{
    align-items: center;
    padding: 30px;
    margin: 20px;
    width: 50%;
}
.best-gifts> h6{
    color: #FF0000;
    font-size: 20px;
    padding: 10px;

}
.best-gifts>h1{
    font-size: 40px;
    padding: 5px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.column{
    padding: 10px;
   
   
}
.column:hover{
    background: #e1e1e1;
    border: 2px solid #d0d0d0;
}

/* subscribe-news */
.subscribe-news{
    height: 400px;
    margin: 80px 20px 20px 20px;
    padding: 35px;
    background-color: lightgoldenrodyellow;
    text-align: center;
}
.subscribe-news> h1{
    font-size: 35px;
    padding: 5px;
}

.subscribe-news>p {
    padding: 10px;
}
.subscribe-news > input{
    padding: 17px;
    width: 25%;
    border: #d0d0d0;
    border: 10px sollid white;
    border-radius:30px 0 0 30px ;
}
.subscribe-news > button{
    position: absolute;
    padding: 12px;
    border: 5px solid red;
    border-radius: 0 30px 30px 0;
    background-color: #FF0000;
    color: white;
}

/* footer section */
footer{
    height: 400px;
    background-color: black;
    color: white;
}

.adress-section{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 20px;
    font-size: 25px;
}
.adress-number{
    padding:10px 0 15px 5px;
}
.adress-section>h6{
    padding: 0 0 10px 0;
    margin: 10px;
}
    
.icon-img{
    vertical-align:middle;
    padding: 10px;
    
    
}
hr{
    color: burlywood;
    width: 80%;
    margin-left: 10%;
}

.social-icon{
    text-align: center;
    margin: 15px;
    padding: 20px;
    /* margin: 40px 20px 10px 220px; */
}
.all-rights{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin: 50px 10px;
    padding: 10px;
    
}






